.wrapper{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

:host {
    display: block;
  }
  
  .container-fluid {
    height: 100vh;
    overflow: hidden;
  }
  
  .row.no-gutters {
    height: 100%;
  }
  
  .col-lg-6.bg-primary {
    background-image: linear-gradient(to bottom right, #3498db, #2980b9);
    color: white;
  
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .table {
    width: 100%;
  
    td,
    th {
      vertical-align: middle;
    }
  
    input[type="text"],
    input[type="number"] {
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      border: 1px solid #ced4da;
    }
  
    input[type="text"]:focus,
    input[type="number"]:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(58, 161, 255, 0.25);
    }
  }
  
  .btn-secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
  }
  
  .btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
  }
  
  @media (max-width: 992px) {
    .col-lg-6.bg-primary {
      height: 200px;
      overflow: hidden;
    }
  
    .col-lg-6:not(.bg-primary) {
      padding-top: 20px;
    }
  }